* {
  margin: 0;
  padding: 0;
}

body {
  background-color: #222222;
  color: #fff;
  font-size: 1.25em;
}

header {
  background-color: #2F4552;
}

ul {
  list-style: none;
}

.card {
  border: #222222 1px solid ;
  border-radius: 1em;
  align-items: center;
}

#domain .card {
  border-radius: 0;
}

main {
  display: flex;
  flex-direction: column;
}

section {
  display: inherit;
  background-color: #4B799A;
}

section div {
  display: inherit;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

input[type="button"] {
  border-radius: 1em;
}

@media screen and (max-width: 1024px) {

}

@media screen and (max-width: 768px) {
  #me div {
    display: flex;
    flex-direction: column;

  }

  #social ul {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
  }
}

@media screen and (max-width: 390px) {
  section {
    padding: 1em;
    margin: 2%;
  }

  section div {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  section p {
    margin: 0.75em 0;
  }

  .card {
    padding: 0.75em;
    margin: 1em 0;
  }

  #studies p, #domain p {
    margin: 0.25em;
  }

  #clients {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  #projects {
    flex-direction: column;
  }

  input[type="button"] {
    padding: .75em;
  }

  #social {
    margin-left: 0;
    margin-right: 0;
    display: flex;
    flex-direction: column;
  }

}

@media screen and (max-width: 280px) {
  section {
    padding: 0.5em;
    margin: 0.40em 0;
  }

  p {
    margin: 0.40em 0;
  }

  img {
    width: 180px;
    height: auto;
  }

  footer img {
    margin: 0.20em;
    width: 40px;
    height: auto;
  }

  #projects {
    flex-direction: column;
  }
}
